{% extends "_base.html" %}

{% block table %}

    <div class="content">

        <div class="container">
          <h2 class="mb-5">Таблица "{{name_table}}"</h2>

          <div class="table-responsive">

            <table class="table custom-table">
              <thead>
                <tr>
                  <th scope="col">
                    <label class="control control--checkbox">
                      <input type="checkbox" class="js-check-all"/>
                      <div class="control__indicator"></div>
                    </label>
                  </th>
                  {% for header in headers %}
                  <th scope="col">{{header}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in data %}
                  <tr>
                      <th scope="row">
                        <label class="control control--checkbox">
                          <input type="checkbox" class="form-check-input"/>
                          <div class="control__indicator"></div>
                        </label>
                      </th>
                      {% for cell in row %}
                      <td>{{cell}}</td>
                      {% endfor %}
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

        </div>

      <ul class="pagination flex-wrap justify-content-center">
       {% for link in links %}
          <li class="page-item">
            <a class="page-link" href="/view/{{name_table}}?page={{link+1}}">{{link+1}}</a>
          </li>
        {% endfor %}
      </ul>

    </div>

{% endblock %}